/*
.withScreencast{
    background-color: black;
}
.css-keje6w.e1tzin5v2{
    width:100%;
    height: 520px;
    margin: 0px 0px 0px 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    border-radius:10px;
    background-color: rgb(215, 42, 42);
    color: #fff;
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
span.css-10trblm.e16nr0p30{
    color: #fff;
}
div.resize-triggers{
    height: 100%;
}
.css-6kekos.edgvbvh9{
    width: 100%;
    color: rgb(215, 42, 42);
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 5px #aaa;
}
.css-6kekos.edgvbvh9:hover{
    box-shadow: 5px 5px 5px #aaaa;
}

label.css-81oif8.effi0qh3{
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: rgb(215, 42, 42);
    color: #fff;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    text-align: justify;
}
div.st-bb.st-bc.st-bv.st-bw.st-bx.st-b3.st-by.st-bz.st-bd.st-c0.st-c1.st-c2.st-c3{
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    */
/* background-color: rgb(215, 42, 42); *//*

    color: rgb(215, 42, 42);
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    text-align: justify;
}*/
